#about
  background-color: $white

  .about-me
    text-align: left
    margin-top: 2rem
    line-height: 2rem
    width: 50%

@media screen and (max-width: 768px)
  #about
    padding: 4rem 0

    .about-me
      width: 80%