#about
  background-color: $yellow

  h2
    letter-spacing: 2px

  .section-headline
    margin-top: .5rem

  hr
    margin-top: .5rem
    width: 7.5%
    border: 1px solid $black

  .about-me
    text-align: left
    margin-top: 2rem
    line-height: 2rem
    width: 50%

    p
      margin-top: 1rem
  