footer
  display: flex
  flex-direction: row
  justify-content: space-between
  flex-wrap: wrap
  align-content: center
  align-items: center
  background-color: $black
  color: $white

  & > div
    padding: 2rem

  .social
    display: flex
    justify-content: flex-end

    a
      font-weight: normal
      margin: .3rem

    .fab:hover
      color: $yellow

@media screen and (max-width: 648px)
  footer
    width: 100%

  footer>div
    margin: 0 auto
    text-align: center

  .copyright
    order: 2
    padding-top: 1.5rem

  .social
    order: 1
    padding-bottom: 0