canvas
  display: block
  vertical-align: bottom

.flex-container
  display: flex
  flex-wrap: wrap
  
  p
    margin: 4rem 0
    color: $lightgrey
    text-align: center
    font-size: 2rem

  .particles-box
    padding: 1rem 0
    position: relative
    background-color: $black
    flex: 1 1 auto
    & .box-full
      flex: 1 1 100%
  
    #particles-js
      position: absolute
      height: 100%
      width: 100%
      z-index: auto
      margin: 0
      padding: 0

    .typing-title
      display: none;

.header-text
  color: $white
  margin-top: 8rem
  text-align: center

  h1
    font-size: 6rem
    weight: 700
    margin-bottom: .8rem
    letter-spacing: .5rem

    span
      display: inline-block
      padding: 1.5rem
      border: .5rem solid rgba($white, .9)