#menu 
  position: fixed
  top: 0
  z-index: 1
  width: 100%
  background-color: rgba($black, .9)
  overflow: hidden
  min-width: 23rem

a
  color: $white
  text-decoration: none
  font-weight: bold
  text-transform: uppercase
  letter-spacing: 4px

.logo-container
  color: $white
  float: left

  .init
    color: $black
    background-color: $yellow
    padding: 0 .5rem
    margin-left: 1.25rem
    letter-spacing: 1px

  .name
    display: inline-block
    vertical-align: top
    margin-left: .6rem
    letter-spacing: 4px
    width: 0
    overflow: hidden
    white-space: nowrap
    transition: width .4s linear

#menu:hover .name
  width: 13rem

#menu-toggle 
  display: block
  float: right
  color: $white
  text-decoration: none
  padding: .75rem
  border: 1px $white solid
  margin: 1rem 1rem 1rem 0
  cursor: pointer

nav ul 
  clear: left
  list-style-type: none
  padding-left: 0
  margin-bottom: 0
  padding: 1rem 0 0 0

  li 
    padding: 1rem 0 1rem 1rem
    border-top: 1px $grey solid

  a:hover
    color: $yellow

#toggled 
  display: none

@media screen and (min-width: 41.25rem)
  #menu:hover .name
    width: 18rem

  #menu-toggle 
    display: none

  nav 
    float: right

    ul 
      display: block !important
      padding: 1rem 1rem 0 0

      li 
        float: left
        padding: 1em
        border-top: none

        a
          padding-bottom: .7rem

          &:hover
            border-bottom: 3px solid $yellow

@media screen and (max-width: 41.24rem)
  #menu  
    .logo-container
      padding-top: .7rem
      &:hover .name
        width: 13rem

      h1
        font-size: 1.35rem

      .name
        margin-left: 0