#projects
  background-color: $lightgrey
  padding-top: 2rem

  .projects
    font-size: 0
    width: 80%
    margin-top: 2.5rem

    .btn-project
      display: inline-block
      width: 30%
      height: 33vh
      position: relative
      cursor: pointer
      margin: 1%
      border: .25rem solid $grey

      img
        height: 100%
        width: 100%
        object-fit: cover

      &:before, &:after
        width: 100%
        position: absolute
        opacity: 0
        transition: acity 0.3s ease

      &:before
        content: ""
        height: 100%
        background: rgba($yellow, .8)

      &:after
        content: attr(data-title)
        font-size: 24px
        font-weight: 700
        top: calc(50% - 0.5em)
        left: 0
        text-align: center
        color: $black
        text-transform: uppercase
        letter-spacing: .15rem

      &:hover:before, &:hover:after
        opacity: 1

.modal 
  display: none
  position: fixed
  z-index: 1
  padding-top: 5rem
  left: 0
  top: 0
  width: 100%
  height: 100%
  overflow: auto
  background-color: $black
  background-color: rgba($black, .8)

  .modal-content 
    background-color: $white
    margin: auto
    padding: 20px
    border: 1px solid #888
    width: 80%
    overflow: hidden

    .closeModal 
      color: #aaaaaa
      float: right
      font-size: 2.5rem
      font-weight: bold

    .closeModal:hover,
    .closeModal:focus 
      color: $black
      text-decoration: none
      cursor: pointer

    .content
      width: 80%
      margin: auto

      h3
        font-size: 2rem
        letter-spacing: .5rem
        margin-top: 1.5rem

      img
        height: 375px
        width: 600px
        background-color: $grey
        margin: 1.5rem auto

      p
        font-size: 1.25rem
        font-weight: 400

      .links 
          font-size: 1rem
          border: 2px solid $black
          cursor: pointer
          min-width: 11.5em
          letter-spacing: 1px
          background-color: transparent
          font-family: 'Chivo', sans-serif
          padding: 0.75em 0.3em
          margin: 1rem
          color: $black
          font-weight: 600
          outline: none

          &:hover 
            color: $black
            border: 2px solid $yellow
            background: $yellow

@media screen and (max-width: 1024px)
  .modal
    padding-top: 0

@media screen and (max-width: 768px)
  #projects
    padding-bottom: 3rem

  .modal
    padding-top: .5rem

  .modal .modal-content .content img
    width: 400px
    height: 250px

@media screen and (max-width: 650px)
  #projects
    .projects
      .btn-project
        width: 100%
        height: 50vh

  .modal .modal-content .content img
    width: 250px
    height: 156px